name: Trigger Site Build

on:
  push:
    branches:
      - main  # 日記をpushするブランチ名
    paths:
      - '**/*.md' # mdファイルが変更された時だけ動く

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Repository Dispatch
        run: |
          gh api repos/toasa/toasa.github.io/dispatches \
            -f event_type='update_diary'
        env:
          GH_TOKEN: ${{ secrets.PA_TOKEN }}
